<!-- Create a Helloworld Angular App
to display “Hello from
BridgeLabz” - To learn any new Language or any New
Framework start with Helloworld
- This will ensure all the necessary components are

involved UC 1 - A quick way to jumpstart ones learning -->

<!-- <h1> Hello from BridgeLabz!</h1> -->

<!-- To display “Hello from
BridgeLabz” using One Way
Data Bindings
- Modify App Component to demonstrate
UC 1 - Interpolation using Template Expression -->

<h1>{{ message }}</h1>


<!-- To display BridgeLabz Logo
using Property Binding
Technique
- Modify App Component to display BridgeLabz

 Logo using Property Binding --> 

 <img [src]="logourl" alt="BridgeLabz Logo" width="200"> 


 <!-- Ability To launch BridgeLabz
Site in a new Tab on clicking
BridgeLabz Logo
- Use Event Binding Technique to bind Click
UC 3 Event to Launch BridgeLabz URL in a new Tab --> 

